<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="home/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="home/company-master">
                <i class="bi bi-menu-button-wide"></i>
                <span>Company Master</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="home/company-master-list">
                <i class="bi bi-menu-button-wide"></i>
                <span>Company Master List</span>
            </a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link collapsed" href="home/form-281">
                <i class="bi bi-journal-text"></i>
                <span>Form 281</span>
            </a>
        </li>

    </ul>

</aside><!-- End Sidebar-->